In [2]:
# Q1. How do you comment code in Python? What are the different types of comments?
''' In python we use special character # for comment our code . Mainly we can comment our code by two ways:-
1 - for single line comment we use # 
2 - for multiline comment we use '''    '''. We can use single or double quotation.
Whatever inside in the # and triple quotes , python does not execute it ,it ignores by the python compiler.
'''

' In python we use special character # for comment our code . Mainly we can comment our code by two ways:-\n1 - for single line comment we use # \n2 - for multiline comment we use .\n'

In [3]:
# Q2. What are variables in Python? How do you declare and assign values to variables?
''' Variable in python are user define . We declare variales by just simply give a name.It is easy to assign any value
in python example are shown below. Before giving the name of variables keep remember some rules for variable:-  
1- variable is not start with special character and number
2- variable should be logically
'''
# assign a value in varible 
var1 = 2
var1

2

In [4]:
# Q3. How do you convert one data type to another in Python
''' By type casting we can easily convert one data to another data type. Here is the example'''
var2 = '2343'   #  here var2 is string
type(var2)

str

In [5]:
var3 = int(var2)        # here var2 convert into a int and it stored in var3.
type(var3)

int

In [1]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list  = [ 1,2,3,4,5]
my_list[0:6:1]

[1, 2, 3, 4, 5]

In [6]:
my_list[1:3] # obtain sub-list [2,3].

[2, 3]

In [7]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?
"""Complex number is basically the combination of a real number and an imaginary number. The complex number is
in the form of a+ib, where a = real number and ib = imaginary number."""
# In python we represent complex number by a+ij
num1 = 5+3j
type(num1)

complex

In [10]:
num1.real # for real number

5.0

In [12]:
num1.imag  # for imaginary umber

3.0

In [13]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
# Variable should not be start with numbers and special character.Theere are so many ways to declare which are shown below:-
1age = 25 # here 1age doesn't work.
print(1age)

SyntaxError: invalid decimal literal (1436334325.py, line 3)

In [14]:
age_1 = 25 # Here it works because we can use numbers after characters.
age_1

25

In [15]:
age@ = 25 # Here code doesn't work becuase special character doesn't allow.
age@

SyntaxError: invalid syntax (4246118233.py, line 1)

In [16]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
# belong to ?
price = 9.99
type(price)

float

In [17]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
# value of this variable ?
name = "sanju sahu"
print(name)

sanju sahu

In [18]:
for i in name:
    print(i)

s
a
n
j
u

s
a
h
u

In [20]:
# Q10. Given the string "Hello, World!", extract the substring "World"?
hello = "Hello, World"
hello[7::]   # by slincing method

'World'

In [22]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
# currently a student or not?
is_student =True
type(is_student)

bool

In [ ]:
# Q4. How do you write and execute a Python script from the command line?
# First ensure that our terminal supports python or not if it supports that write a code.
# we need command prompt to run our code . For this find the location where our desired python file is stored and then
# in command prompt type the location and run python file.